body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

/* navbar starts here */
.header {
    overflow: hidden;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px;
    padding-top: 0px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    color: blueviolet;
  }
  
  .header a.active {
    color: black;
  }
  
  .header-right {
    float: right;
  }
  /* navbar responsiveness */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }

  /* navbar ends */

/* BACKGROUND  CUSTOMIZED */
  .header {
    width: 100%;
    height: 600px;
    background-image: url('/assets/images/background1.png');
    /* background-size: 100% 100%; */
    border: 1px solid red;
    background-size: contain;
  }


  /* responsive  image page content and impression creator */
  .responsive {
    width: 100%;
    height: auto;
  }
/* the first button and tasty burger button */
  .button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  /* ORDER NOW BUTONS */
  .button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  

  .button2 {background-color: #f44336;
    color: white;} 
/* button styling of order now ends here */


    /* form DESIGN */
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }
    
    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }
    
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    .order_book {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    
    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }
    
    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }

    /* form designing ends here */
   


    /* footer styling */
    .container {
      position: relative;
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  
    
    .container img {vertical-align: middle;}
    .bottom-right {
      position: absolute;
      bottom: 8px;
      right: 16px;
      color: white;
    }

    .bottom-left {
      position: absolute;
      bottom: 8px;
      left: 16px;
      color: white;
    }
    
    /* Top left text */
    .top-left {
      position: absolute;
      top: 8px;
      left: 16px;
      color: white;
    }
    
    /* Top right text */
    .top-right {
      position: absolute;
      top: 8px;
      right: 16px;
      color: white;
    }

/* icons used styling to more efficient */
    .fa {
      padding: 10px;
      color: white;

    }

